/* Overall Page Styling */
body {
    background-color: maroon;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    background-color: yellow;
    width: 600px;
    padding: 80px;
    text-align: center;
    border-radius: 10px;
}

/* Header Text */
h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 15px;
}

.form-box {
    background-color: red;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: black;
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

input {
    flex: 2;
    padding: 5px;
    border: 1px solid black;
    font-size: 14px;
    background-color: yellow;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    background-color: yellow;
    padding: 5px 15px;
    border: 1px solid #ffea31;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px -1px 2px 0 yellow inset,
              0px 1px 1px 1px #f7ca37;
}

button:active {
    box-shadow: 2px 2px 0px yellow;
    transform: translate(2px, 2px);
}
